.google-login-btn{
    background-image: url('src/assets/google-logo.png');
    background-color: #FFFFFF; 
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 10%;
    padding-left: 6%;
    box-shadow: 0 1px 2px 1px #ddd;
}