
<div *ngIf="!isLoggedIn()">
  <h3 class="text-center mb-5 mt-2">Admin Signin</h3>
  <div class="text-center">
      <button type="button" (click)="login()" class="btn btn-lg google-login-btn">Sign in with Google</button>
  </div>
</div>


  <div *ngIf="isLoggedIn()">
    <div class="container">Hi and welcome!</div>
    <div class="container">Name: {{ userInfo?.info?.name }}</div>
    <div class="container"><img src="{{ userInfo?.info?.picture }}"></div>
  
    <div class="container">
      <button (click)="logout()">Logout from Google</button>
    </div>
  </div>