
<div *ngIf="!user">
  <h3 class="text-center mb-5 mt-2">Admin Signin</h3>
  <div class="text-center">
      <button type="button" (click)="signInWithGL()" class="btn btn-lg google-login-btn">Sign in with Google</button>
  </div>
</div>

  <div *ngIf="user">
      <h4 class="text-center">{{ user.name }}</h4>
      <p class="text-center">{{ user.email }}</p>
      <p class="text-center">Logged in with {{ user.provider }}</p>

    <div class="text-center">
      <button (click)="signOut()">Logout from Google</button>
    </div>

  </div>