<header class="headerContainer">
        <h3 class="orderidHEAD">
            <b > Order ID :</b> {{data.orderid}}  	&nbsp; &nbsp;   &nbsp; &nbsp;  <br>
            <b> Address :</b> {{streetAddr}}  	&nbsp;	&nbsp;   &nbsp; &nbsp; <br>
            <b> Credit Card :  </b>**** **** **** {{creditCard}} 
        </h3>
        <!-- <h3 class="orderidHEAD">Address ID : {{data.addressID}} </h3>
        <h3 class="orderidHEAD">Credit Card ID : {{data.creditCardID}} </h3> -->
</header>

<div class="container">

    <div class="search-container">
        <mat-form-field appearance="fill">
            <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
        </mat-form-field>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container *ngFor="let item of displayOrderDetailsTable | keyvalue" [matColumnDef]="item.key">

            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ item.value | titlecase }}
            </th>

            <td mat-cell *matCellDef="let orderDetails">{{ orderDetails[item.key] }}</td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns let i= index"
            [ngClass]="{'highlightTableColor': selectedRowIndex == i}"></tr>

    </table>

    <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[1,2,5, 10, 25, 100]">
    </mat-paginator>
</div>